<div class="form-row">
    <div class="form-item">
            <label>Title</label>
            <input required type="text" name="title" value="<%= book.title %>">
    </div>
    <div class="form-item">
        <label>Author</label> <!--Remember than Author is data from the other DB-->
        <select name="author">
            <% authors.forEach(author => { %>
                <% if (author.id === book.author) { %>
                    <option selected label="<%= author.name%>" value="<%= author.id %>"></option>
                <% } else { %> 
                    <option label="<%= author.name%>" value="<%= author.id %>"></option>
                <% } %> 
            <% }) %>
        </select> 
    </div>
</div>

<div class="form-row">
    <div class="form-item">
            <label>Publish Date</label>
            <input required type="date" name="publishDate" 
                value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"> 
    </div>
    
    <div class="form-item">
        <label>Page Count</label>
        <input required type="number" name="pageCount" min="1" value="<%= book.pageCount %>"> 
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" class="filepond" name="cover"> 
    </div>

    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= book.description %></textarea>
    </div>
</div>
