<h2 class="page-header"><%= author.name %></h2>

<div class="author-details-grid">
    <div class="author-details-label">Libros Registrados:</div>
    <div><%= numBooks %></div>
    <div class="author-details-label">Total de Libros:</div>
    <div><%= author.nbooks %></div>
    <div class="author-details-label">Born:</div>
    <div><%= author.born %></div>
    <div class="author-details-label">Died:</div>
    <div><%= author.died %></div>
    <div class="author-details-label">Information:</div>
    <div><%= author.information %></div>
</div>

<div class="btn-row">
    <a class="btn btn-primary" href="#" onclick="listBooks()">Show Books</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <% if(hasBooks) { %>
        <a class="btn btn-danger" href="#" onclick="popUp()">Delete</a>
    <% } else { %>
        <%- include('../partials/deleteFormAuthor', { url: `/authors/${author.id}`, perm: 'T' }) %>
    <% } %>
</div>

<br>

<% if (bookByAuthor.length > 0) { %>
    <h2 class="page-header">New Books by <%= author.name %></h2>
    <%- include('../partials/bookGrid', { books: bookByAuthor }) %>
<% } %>


<div id="author-pop-up">
    <p>Seems like there are books asociated with this author, if you delete the author the books will be deleted, do you want to do this?</p>
    <div class="delete-confirmation">
        <%- include('../partials/deleteFormAuthor', { url: `/authors/${author.id}`, perm: 'T' }) %>
        <a href="#" class="btn btn-primary" onclick="closePopUp()">Keep</a>
    </div>
</div>

<div id="authorBookList-cont">
    <div class="authorBookList">
        <% for(let namebook of namebooks){ %>
            <p><%= namebook %></p>
        <% } %>
        <a href="#" class="btn btn-primary btn-close" onclick="closeListBooks()">Close</a>
    </div>
</div>

<script type="text/javascript" src="/javascripts/popUp.js"></script>
<script type="text/javascript" src="/javascripts/listBooks.js"></script>